<aside id = 'call-to-action' class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Which phone is more Allsumm? +ThinkALLSUMM</p>
        <a href="#" ><img width='10%' src="https://s.yimg.com/ny/api/res/1.2/B79RlmRM7LBS_sSH2X1YdQ--/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-US/homerun/techmedianetwork.tomguide.com/58c307d47632b92bf775b3bc6255a42f"/></a>
        <a href="#"><img width = '10%' src="https://images.anandtech.com/doci/10194/ASBG-Galaxy_S7_edge-Front.jpg"/></a>
      </div>
    </div>
  </div>
</aside>
