<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>About ALLSUMM</h2>
        <hr class="small">
        <div class="row">
          <div class = 'row'>

            <p>Finally!!! A website/app where you can post all your social media in one place. <b>And it’s free!</b> Allsumm Media and Research LLC has created a platform that can allow us to partner with users to manage multiple social networking sites through one dashboard.  
            Here are several facts about Allsumm.com:</p>

            <p>+Users can save time by posting all their social media content on Allsumm.com</p>
            <p>+Allsumm Media and Research will ensure users and networks are protected</p>
            <p>+Allsumm users can connect, engage, and build a following with other users across social network                        platforms</p>
            <p>+Allsumm.com has built a community that will allow its users to schedule posts for a later time</p>
            <p>+Allsumm users can customize their post for each network</p>
            <p>+You can publish content from your favorite websites with just click a click of one button</p>
            <p>Allsumm Media and Research LLC has created a new way of gathering and processing information. We have partnered with local Universities and Colleges to create a Research department like no other. We have designed a way of gathering information without being intrusive and we are fully conscious in protecting the privacy of the users. 
            We are very excited about our users being able to search over multiple SEO sites. Allsumm users can get the best search results at one time.</p>
          </div>

          <div class="socialmediaicons">
            <a href="javascript:void(0)" class="fa fa-facebook"></a>
            <a href="javascript:void(0)" class="fa fa-twitter"></a>
            <a href="javascript:void(0)" class="fa fa-google"></a>
            <a href="javascript:void(0)" class="fa fa-linkedin"></a>
            <a href="javascript:void(0)" class="fa fa-youtube"></a>
            <a href="javascript:void(0)" class="fa fa-instagram"></a>
            <a href="javascript:void(0)" class="fa fa-pinterest"></a>
            <a href="javascript:void(0)" class="fa fa-snapchat"></a>
            <a href="javascript:void(0)" class="fa fa-skype"></a>
            <a href="javascript:void(0)" class="fa fa-android"></a>
            <a href="javascript:void(0)" class="fa fa-vimeo"></a>
            <a href="javascript:void(0)" class="fa fa-tumblr"></a>
            <a href="javascript:void(0)" class="fa fa-vine"></a>
            <a href="javascript:void(0)" class="fa fa-foursquare"></a>
            <a href="javascript:void(0)" class="fa fa-stumbleupon"></a>
            <a href="javascript:void(0)" class="fa fa-flickr"></a>
            <a href="javascript:void(0)" class="fa fa-yahoo"></a>
            <a href="javascript:void(0)" class="fa fa-reddit"></a>
          </div>
          <!-- <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div> -->
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
